---
import { GitHubDark, NPM } from "developer-icons";
import Container from "./Container.astro";
import { publicBaseUrl } from "@/config";
import { DisclaimerAlert } from "./disclaimerAlert";

const url = Astro.url;
---

<div class="navbar bg-zinc-900">
  <Container className="justify-between">
    <a href={publicBaseUrl} class="flex items-center gap-2">
      <img src={`${publicBaseUrl}/favicon.svg`} width="30" height="30" />
      <span class="font-semibold text-lg">Developer Icons</span>
    </a>
    <nav
      class="flex items-center justify-end gap-6 font-medium [&>a:hover]:text-sky-500"
    >
      <DisclaimerAlert client:load url={url} />

      <span class="w-[1px] h-4 bg-zinc-700"></span>

      <a href={`${publicBaseUrl}/icons/All`}>Icons</a>
      <a href={`${publicBaseUrl}/docs`}>Docs</a>

      <span class="w-[1px] h-4 bg-zinc-700"></span>

      <a
        href="https://github.com/xandemon/developer-icons"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHubDark size={20} className="github" /></a
      >
      <a
        href="https://www.npmjs.com/package/developer-icons"
        target="_blank"
        rel="noopener noreferrer"
      >
        <NPM size={20} /></a
      >
    </nav>
  </Container>
</div>
